@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');

#root {
  width: 100vw;
  height: 100vh;
  text-align: center;
  background: #4230b5;
  color: white;
  font-family: 'DM Sans', sans-serif;
}
.App {
  display: grid;
  grid-template-columns: 50% 50%;
  background: #4230b5;
}
@media screen and (max-width: 768px) {
  .App {
    display: flex;
    flex-flow: column;
    padding: 16px;
  }
}
body {
  font-family: 'DM Sans', sans-serif;
  font-size: 1rem;
  margin: 0;
}
